<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/02d.png">
    <script src="/js/app.js"></script>
    <title>About</title>   
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>This site was created by Anubhav Baranawal. It uses data from mapbox.com and weatherstack.com!</p>
        <img src="/img/img2.jpg" width="350">
    </div>
    {{>footer}}
</body>
</html>