<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/02d.png">
    <title>error message</title>
</head>
<body>
    <div class="main-content">
        {{>header}}<br>
        {{message}}<br>
        <img src='/img/img6.jpg'>
    </div>
   
    {{>footer}}
      
</body>
</html>